/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* html {
} */

div#main {
  display: flex;
  flex-direction: column;
}

div {
  position: relative;
}

div.dark {
  min-height: 100vh;
  color: #55717d;
  /* background: rgba(0, 0, 0, 0.25); */

}
.dark .background {
  width: 110vw;
  height: 100vh;
  right: 0;
}

div.light {
  color: white;
  /* background: rgba(255, 255, 255, 0.35); */
  padding: 8rem 0;
  font-family: 'Playfair Display', serif;
width: 102vw;
}


div img.background {
  width: 104%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 45%;
  transform: translate(-50%, 0);
  pointer-events: none;
  object-fit: cover;
  opacity: .4;
}

h1 {
  font-weight: 300;
  font-family: "Cormorant Garamond", serif;
  font-size: 11vw;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 4vw;
  margin: 0;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 18px;
}

p.small {
  font-size: 12px;
}

hr {
  margin: 2.5rem;
  background-color: #55717d;
  border: 1px solid #55717d;
}

li {
  line-height: 1.6;
  padding-left: 2rem;
  list-style-type: square;

}

li::marker {
  color: #4e567e;
}

a {
  text-decoration: none;
  color: white;
  margin: 5px;
}

a:hover {
  color: #4e567e;
}
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 104vw;
  left: 0;
}
.container {
  left: 1rem;
  margin: 10px ;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 85px;
  justify-content: center;
}

.container .box {
  border-radius: 10px;
  padding: 24px 16px;
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
  border: 3px solid #b57d6d;
  text-align: center;
  background-color: #55717d;
  /* color: white; */
  width: 300px;
  height: 450px;
}
#title {
  color:#4f6874;
  font-size: 60px;
}
.box {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.project-pic {
  width: 250px;
  height: 150px;
  border: 3px solid #b57d6d;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50px;
}
.links h4 {
  color: #ef8d9d;
}

img.socialIcon {
  width: 30px;
  height: 30px;
}

#contact {
  width: 103%;
}

#resume {
  width: 103%;
}

button {
border-radius: 10px;
   border: none;
   background-color: #55717d;
   width: 100px;
   height: 30px;
}
